body {
	background: #ECF0F1;
	font-family: 'Open Sans', sans-serif;
}

.section-header {
	text-align: center;
}

/* Navigation Bar Custom CSS */

.navbar-wrap {
	background-color: #77B69C;
}

.nav {
	padding:
	padding-right: 15px;
}

.navbar-right {
	margin-right: 0;
}

.navbar-container {
	margin: 0px auto;
}

.navbar-header {
	float: left;
	padding: 5px 0px 5px 0px;
}

.container-fluid>ul {
	position: relative;
	height: 100%;
	margin: auto;
}

.navbar-default .navbar-nav>li>a {
	color: #ECF0F1;
	border-radius: 5px;
	transition: background-color 0.5s;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #171F26;
	background-color: #fff;
}

/* Jumbotron Custom CSS */

.jumbotron {
	margin-top: 100px;
}

.splash-container {
	vertical-align: middle;
	position: relative;
}

.centered-div {
	float: none;
	margin: 0 auto 0 auto;
}

.splash-content {
	margin: 0 auto 0 auto;
	width: 100%;
	text-align: center;
}

.splash-text {
	text-align: right;
}

/* About Section Custom CSS */

.about-container-wrap {
	padding: 15px 15px;
	vertical-align: middle;
	margin: inherit;
}

.about-container {
	padding: 10px 0px;
}

.about-pic-wrap {
	display: inline-block;
	float: none;
	box-sizing: border-box;
}

.about-pic {
	margin-bottom: 20px;
}

.about-content-wrap {
	display: inline-block;
	float: none;
	box-sizing: border-box;
}
